{
  "presets": [
    "env",
    "stage-3"
  ],
  "ignore": [
    "node_modules"
  ],
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}